
/*color scheme
#84DCC6
#FF686B
#FFA69E
#A5FFD6
#84DCC6
*/

$light:#FFFFFF;

html{
width:100vw;
height:100vh;
}

body{
    width:100vw;
    height:100vh;
    background:#FF686B;
    margin:0px;
    padding:0px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    font-family: Montserrat,helvetica,arial,sans-serif;
    color: #1c1b1b;
    text-align:center;
    line-height:1.5;
    letter-spacing: 1px;
    color:$light;
}

#app-container{
    width:80vw;
    max-width:700px;
    min-width:250px;
    background:$light;
    margin:10vh auto 10vh auto;
    border-radius:20px;
    padding:5%;
    min-height:80vh;
}

.flex-page{
    margin:0px auto;
    position: relative;
    height:100%;
    padding:10px;
    font-size:1.2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:100%;
    min-width:250px;
    text-align:center;
    h1{
        text-align: center;
    }
}

.hide{
    display: none;
}


//Welcome page
#welcome-text{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:100vw;
    height:100vh;
    h1{
        color:$light;
        margin:30vmin auto 0px auto;
        font-size:3rem;
    }
    h2{
        margin:0px auto;
    }
    button{
        margin:20vmin auto;
        font-size:1.2rem;
        border-radius: 20px;
    }
    button:hover{
        background:#FFA69E;
        -webkit-animation: shadowFadeIn 1s;
                animation: shadowFadeIn 1s;
    }
}

@-webkit-keyframes shadowFadeIn {
    0% { -webkit-box-shadow: inset 0px 0px 0px rgba(132,220,198,1); box-shadow: inset 0px 0px 0px rgba(132,220,198,1) }
    100% { -webkit-box-shadow: inset 200px 0px 0px rgba(132,220,198,1); box-shadow: inset 200px 0px 0px rgba(132,220,198,1); }
}

@keyframes shadowFadeIn {
    0% { -webkit-box-shadow: inset 0px 0px 0px rgba(132,220,198,1); box-shadow: inset 0px 0px 0px rgba(132,220,198,1) }
    100% { -webkit-box-shadow: inset 200px 0px 0px rgba(132,220,198,1); box-shadow: inset 200px 0px 0px rgba(132,220,198,1); }
}

#icon{
    min-width:100px;
    max-width:20vw;
    margin:0px auto;
}

#exercise-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width:75%;
    margin:0px auto;
    min-width:250px;
}
button{
    min-width:100px;
    width:150px;
    max-width:200px;
    height:50px;
    background:#FFA69E;
    border:none;
    border-radius:8px;
    margin:10px auto;
    font-size:1rem;
    color:$light;
}
button:hover{
    background:#84DCC6;
}

#loader-container{
position: relative;
width:200px;
height:200px;
margin: 30px auto 50px auto;
}

#loader{
    width:100%;
    height:100%;
    margin:0px auto;
    border-color:white transparent transparent;
}

#loader-inner{
    position: absolute;
    top:20px;
    left:20px;
    width:80%;
    height:80%;
    margin:0px auto;
    border-color:white transparent transparent;
}

#go-train{
    position: absolute;
    padding:10px;
    margin:0px auto;
    text-align:center;
    height:10px;
    top:40%;
    left:20%;
}


.spin{
    border:5px solid;
    border-radius:50%;
    border-color:white transparent transparent;
    -webkit-animation-name:loaderSpin;
            animation-name:loaderSpin;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.spin-inner{
    border:5px solid;
    border-radius:50%;
    border-color:white transparent transparent;
    -webkit-animation-name:loaderSpin;
            animation-name:loaderSpin;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}


@-webkit-keyframes loaderSpin {
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}


@keyframes loaderSpin {
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}


//instructions page
#instructions{
    padding:10%;
    max-width:700px;
}


//new exercise page
#new-exercise-menu{
    h2{
        margin:10px auto;
        font-weight:lighter;
        font-size:1.3rem;
    }
    img{
        width:30px;
        padding:10px;
        vertical-align: middle;
    }
}
#exercise-form{
    max-width:700px;
    position: relative;
}

#exercise-text{
    margin:1% auto;
    height:50px;
    width:75%;
    font-size:1.5rem;
    padding:0 10%;
    text-align:center;
    border:none;
    border-radius: 8px;
}

#custom-workout{
    h2{
        margin:10px auto;
        font-weight:lighter;
        font-size:1.3rem;
    }
    img{
        width:30px;
        padding:10px;
        vertical-align: middle;
    }
}


//workout list page

#workoutList{
    list-style-type:none;
    min-width:250px;
    max-width:700px;
    background:#FFA69E;
    margin:0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:4%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.exercise{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 8px;
    width:80vw;
    min-width:250px;
    max-width: 700px;
    margin:5px auto;
    padding:0px 0px 0px 5px;
    background:white;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    min-height:50px;
    text-align: left;

}
.exercise-list-item{
    color:black;
    margin:0px 1%;
    font-size:1rem;
    padding:0px 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0px;
    text-align: center;
}
.chosen-exercise{
    color:black;
    border-radius: 8px 0px 0px 8px;
    margin:0px;
    word-wrap: normal;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-weight: bold;
    text-align: left;
}

.completed{
    background:#84DCC6;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.delete-exercise{
    background:#FF686B;
    margin:0px;
    padding:0px 0px 0px 15px;
    color:white;
    border-radius:0px 8px 8px 0px;
    height:auto;
    min-width: 30px;
    max-width:30px;
    text-align: center;
}

#sets, #reps{
    width:200px;
    margin:15px auto;
}


.input-row{
    margin:10px auto;
    width:50px;
    background:#FFA69E;
    color:white;
    padding:2%;
    border-radius: 8px;
}

.text{
    color:#FF686B;
    background:#FFA69E;
    font-weight: bold;
    font-size:1.3rem;
}



//Input slider styling
input[type="range"] {
    -webkit-appearance: none;
   }
   
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background:transparent;
    height: 10px;
    
}
   
input[type="range"]::-moz-range-track {
    background-color :transparent ;
    height: 10px;
    
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    margin-top: -5px;
    border-radius: 25%;
    margin-top:-15px;
    background-image:url('pushfit-icon.svg');
    background-size: fill;
    background-repeat: no-repeat;
    border:solid #FF686B 2px;
}
   
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    margin-top: -5px;
    border-radius: 25%;
    margin-top:-15px;
    background-image:url('pushfit-icon.svg');
    background-size: fill;
    background-repeat: no-repeat;
    border:solid #FF686B 2px;
}